body 
{
    background:#ffffff !important;
    font-weight: 450 !important;
    font-size: 16px !important;

    
}
 .navbar-expand-md
{
    background: #038C65 !important;
}
.nav-link
{
    color: rgb(255, 255, 255) !important
}

.navbar-light .navbar-brand {
    color: #FFFFFF;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link {
    color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ccc !important;
}

.icon-grid-portal {
    background-color: #F8F9FA;
}

.jumbotron {
    margin-bottom: 0px !important;
}

.features-icons{
    padding-top:7rem;
    padding-bottom:7rem
}

.features-icons .features-icons-item{
    max-width:20rem
}

.features-icons .features-icons-item .features-icons-icon{
    height:7rem
}

.features-icons .features-icons-item .features-icons-icon i{
    font-size:4.5rem
}

.features-icons .features-icons-item:hover .features-icons-icon i{
    font-size:5rem
} 

header.masthead{
    position:relative;
    background-color:#343a40;
    background:url("../images/1.jpg") no-repeat center center;
    background-size:cover;
    padding-top:8rem;
    padding-bottom:8rem;
   }
   
header.masthead .overlay{
   position:absolute;
   background-color:#212529;
   height:100%;
   width:100%;
   top:0;
   left:0;
   opacity:.3
}
  
header.masthead h1{
   font-size:2rem
}

@media (min-width:768px){
   header.masthead{
       padding-top:12rem;
       padding-bottom:12rem
   }
   header.masthead h1
   {
       font-size:3rem
   }
}






/* footer */
.site-footer {
    padding: 4em 0;
    background: #333333; }
    @media (min-width: 768px) {
      .site-footer {
        padding: 3em 0; } }
    .site-footer .border-top {
      border-top: 1px solid rgba(255, 255, 255, 0.1) !important; }
    .site-footer p {
      color: #737373; }
    .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
      color: #fff; }
    .site-footer a {
      color: #999999; }
      .site-footer a:hover {
        color: white; }
    .site-footer ul li {
      margin-bottom: 10px; }
    .site-footer .footer-heading {
      font-size: 16px;
      color: #fff; }

/* post category */

.site-section {
    padding: 2.5em 0; }
    @media (min-width: 768px) {
      .site-section {
        padding: 5em 0; } }
    .site-section.site-section-sm {
      padding: 4em 0; }
  
  .section-heading h2 {
    font-weight: 700;
    color: #000; }
  
  .border-top {
    border-top: 1px solid #edf0f5 !important; }

    .entry2 img {
  margin-bottom: 30px; }

.entry2 h2 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700; }
  .entry2 h2 a {
    color: #000;
    }

.entry2 .excerpt {
  padding-left: 20px;
  padding-right: 20px; }

.entry2 .post-meta {
  color: #b3b3b3;
  font-size: 13px;
  width: 100%;
  display: block; }
  .entry2 .post-meta a {
    color: #000; }
  .entry2 .post-meta .author-figure img {
    width: 30px;
    border-radius: 50%; }

.entry2 a {
    text-decoration: none !important;
}

.post-category {
    display: inline-block;
    padding: 2px 10px;
    border-radius: 4px;
    letter-spacing: .2em;
    font-weight: 700;
    font-size: .6rem;
    text-transform: uppercase; }